body{
    background-image: url("./assets/background1.jpg");
}

.form-div{
    background-size: cover;
    margin: 100px 300px 0px 600px;
    margin-left: 25rem;
    justify-content: center;
    align-items: center;
    height: 80px;
}
#heading {
    /* margin-left: 100px; */
    justify-content: center;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(255, 255, 255);
    text-decoration: solid;
    border: none;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.wrapper {
    /* background: url("./images/cool-background\ \(1\).png"); */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column; 
    flex-wrap: nowrap;
    /* padding-left: 20px; */
    /* background: #ffffff; */
    opacity: 95%;
    max-width: 550px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(123, 65, 65, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(255, 232, 232, 0.75);
}
    .wrapper h2 {
        padding-left: 20px;
        margin: 35px 0;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 20px;
        text-decoration: solid;
        border: none;
        border-radius: 28px;
        display: flex;
        justify-content: center;
    }
    
    .wrapper .footer {
        /* padding-left: 0px; */
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 12px;
        width: 100%;
        height: 100px;
        padding-right: 50px;
        /* background-color: #393e46; */
        /* clip-path: polygon(53% 70%, 100% 30%, 100% 100%, 0 100%,0px 0px); */
    }


.group {
    display: flex;
    /* background-color: #888888; */
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex-wrap: nowrap;
    /* margin-top: 35px; */
    padding: 0 25px;
}
.group .label {
        position: absolute;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
        color: white;
    }

    .group .input {
        width: 350px;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px rgb(0, 0, 0);
        outline: none;

        &:focus ~ label,
        &:valid ~ label {
            margin-top: -25px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
    }
  .button{
      color:aqua;
      size: 200px;
      text-align: center;
  }
  h6{
    margin: bottom 100px;;
    color:black;
  }
  h6{
    margin-left: 10rem;
    color:white;
  }