.rating-page {
    text-align: center;
    /* padding: 20px; */
    border:2px solid black;
    width: 500px;
    height: 500px;
    /* object-fit: cover; */

  }
  
  .rating-options {
    display: flex;
    justify-content: center;
  }
  
  .rating-options label {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .rating-icon {
    color: gold;
    font-size: 24px;
  }
  
  .reset-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #bbb;
  }
  